<div class="container">
    <mat-grid-list cols="1" rowHeight="4:1.5">
        <mat-grid-tile>
            <!-- <title>HPCL BABAJI PETRO POINT HP PETROL PUMP S.No 405 2A Nookampalayam Main Road Perumbakkam Chennai-600100</title> -->
            <form class="ms-form" [formGroup]="msForm">
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>TxnDate - DD/MM/YYYY</mat-label>
                    <input matInput formControlName="date" />
                </mat-form-field>
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>TxnTime - HH:MM:SS</mat-label>
                    <input matInput formControlName="time"/>
                </mat-form-field>
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>TxnType</mat-label>
                    <input matInput formControlName="type"/>
                </mat-form-field>
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>PumpNo</mat-label>
                    <input matInput formControlName="PumpNo"/>
                </mat-form-field>
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>NozzleNo</mat-label>
                    <input matInput formControlName="NozzleNo"/>
                </mat-form-field>   
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>Product</mat-label>
                    <input matInput  value="MS" formControlName="product">
                </mat-form-field>
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price"/>
                </mat-form-field>
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>VehicleNo</mat-label>
                    <input matInput formControlName="vehicleNo"/>
                </mat-form-field>
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>Quantity</mat-label>
                    <input matInput formControlName="quantity"/>
                </mat-form-field>
                <mat-form-field class="ms-fields-full-width">
                    <mat-label>Amount</mat-label>
                    <input matInput formControlName="amount"/>
                </mat-form-field>
                <button mat-raised-button color="accent" (click)="onGenerateMSBill()">Calculate</button>
            </form>
        </mat-grid-tile>
    </mat-grid-list>
</div>